@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex_parent {
  display: flex;
  background: #a2d7ba;
  flex-wrap: nowrap;
  max-height: 150px;
}

.left_flex_header {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  /* gap: 1rem; */
  align-items: flex-end;
  font-size: 1.5rem;
}

.right_flex_header {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  background: #a2d7ba;
  margin-right: 2rem;
  justify-content: flex-end;
  align-items: flex-end;
}

.right_flex_header a {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.qit_logo {
  height: 150px;
}

.qit {
  color: #165B11;
}

.sales-banner {
  text-align: center;
  padding: 20px 20px;
  background: #a2d7ba;
}

.sales-banner p {
  font-size: 3rem;
  color: #165B11;
  font-weight: bold;
}

@media(max-width: 1000px) {
  .right_flex_header {
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    height: 90px;
    width: 100%;
  }

  .right_flex_header a {
    font-size: 2rem;
    padding: 50px;
    margin: 50px;
  }

  .flex_parent {
    flex-wrap: wrap;
  }

  .sales {
    margin-top: 50px;
  }

  .left_flex_header {
    width: 100%;
  }
}

/* TO DO
  @media(max-width: 600px) {
  }
} */

header .nav li {
  margin-bottom: 0 7px;
}

section {
  padding: 125px 50px;
}

footer {
  background: #a2d7ba;
}

.social ul {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

i {
  font-size: 300%;
  color: #165B11;
}