@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */
.flex_parent {
  display: flex;
  background: #a2d7ba;
  flex-wrap: nowrap;
  max-height: 150px;
}

#left_flex_header {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1.5rem;
}

#right_flex_header {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #a2d7ba;
  margin-right: 2rem;
  justify-content: flex-end;
  align-items: flex-end;
}

a {
  font-size: 1.5rem;
  color: #165B11;
}

#active {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

#qit_logo {
  height: 150px;
}

#qit {
  color: #165B11;
  font-size: 3rem;
}

#sales-banner {
  text-align: center;
  padding: 10px 10px;
  background: #a2d7ba;
}

#sales-banner p {
  font-size: 3rem;
  color: #165B11;
  font-weight: bold;
}

.sticky {
  position: sticky;
  width: 100%;
  top: 0;
}

/* footer / social media */

footer {
  background: #a2d7ba;
}

#social ul {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

i {
  font-size: 300%;
  color: #165B11;
}

i:hover {
  font-size: 352%;
  color: #165B11;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: #165B11;
  font-size: 16px;
  background-color: #a2d7ba;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  font-family: Ubuntu, sans-serif;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 10px;
  font-family: Ubuntu, sans-serif;
  text-align: center;
}

#address {
  text-align: center;
  color: #165B11;
}

#copyright {
  text-align: right;
}

/* media queries */
@media(max-width: 1000px) {
  #right_flex_header {
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }

  #right_flex_header a {
    font-size: 2rem;
  }

  .flex_parent {
    flex-wrap: wrap;
  }

  #left_flex_header {
    width: 100%;
  }

  #sales-banner p {
    margin-top: 30px;
  }

}

/* TO DO
  @media(max-width: 600px) {
  }
} */

/* main center content "center-section" */

#center-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-around;
  background: url('../images/background.jpg');
}

.center-panel {
  font-size: 2rem;
  background-color: #a2d7ba;
  border: 3px solid #165B11;
  color: #165B11;
  width: 28%;
  padding: 20px;
}